/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


.rslides {
  margin: 0 auto 40px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  text-align: center;
        width: 60px;
    top: -210px;
    color: #333333;    
    z-index: 999999;
    position: relative;
    font-size: 20px;
        list-style: none;
    padding: 0;
    font-weight: bold;
    left: 10px;
  }

.rslides_tabs li {
  display: inline;
  float: left;
  margin-right: 1px;
  width: 50px;
  height: 45px;
  }

.rslides_tabs a:hover{text-decoration: none;}
.rslides_tabs a {
  width: auto;
  line-height: 22px;
  padding: 6px 15px;
  height: auto;
  display: inline;
  background: rgba(255,255,255,.2);
  border:2px solid rgba(255,255,255,.4);
  color: #333333; 
  border-radius: 5px;
  text-decoration: none;}

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
      line-height: 22px;
    padding: 6px 17px;
    font-size: 22px;
  font-weight: bold;
  text-decoration: none;

  }
