/*
///////////////////////////////////////////////////
	Blockquote
	Used to build blockquote inset the website
///////////////////////////////////////////////////
*/
	.blockquote{
		margin: 0 !important;
		padding: 10px 20px;
		padding-left: 23px;
		border-left: 3px solid #CCC;

		p{
			margin: 0;
			margin-bottom: 10px;
		}

		footer{
			font-size: 14px;
			color: #777;

			cite{
				font-weight: bold;
			}
			&:before{
				display: inline-block;
				content: "-";
				margin-right: 5px;
			}
		}
	}

	.blockquote-reverse{
		margin: 0 !important;
		padding: 10px 20px;
		padding-right: 23px;
		border-right: 3px solid #CCC;
		text-align: right;

		p{
			margin: 0;
			margin-bottom: 10px;
		}

		footer{
			font-size: 14px;
			color: #777;

			cite{
				font-weight: bold;
			}
			&:after{
				display: inline-block;
				content: "-";
				margin-left: 5px;
			}
		}
	}
/*
//////////////////
	Blockquote
/////////////////
*/