/*
###############################
	TYPOGRAPH
###############################
*/
	@family: 'leelawadeeregular';
	@family_title: 'oswaldlight';
	/*
	===============================
		Default
	===============================
	*/
		body{
			font-family: @family;
		}
	/*
	===============================
		//Default
	===============================
	*/
	
	h1, h2, h3, h4, h5, h6, strong{
		small{
			font-family: @family_title;
			font-size: 75%;
			color: rgba(0, 0, 0, 0.7);
		}
	}

/*
###############################
	//TYPOGRAPH
###############################
*/