/*
######################################
	RESPONSIVE SM
######################################
*/

	//NEXUS 7
	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: portrait){
		.clientes{
			.emdestaque{
				.colVideo {
					max-width: 320px;
				}
			}
		}
		/*
			#######################
			      INFO MENU
			#######################
		*/
			.info-menu{
				.container{
					padding: 0;
				}
				ul{
					li{
						&.active{
							a{
								padding: 20px 70px 20px;
							}
						}
						a{
							display: block;
							padding: 20px 70px 20px;
						}
					}
				}
			}
		/*
			#######################
			      INFO MENU
			#######################
		*/
		/*
			###################
			    SUPLEMENTOS
			###################
		*/

			.suplementos{
				height: initial;
				.suplementos-container{
					.col-xs-12{
						width: 50%;
					}
					.container{
						padding: 0;
					}
					.suplementos-block{
						margin: 0 0 20px 0;
						position: initial;
						top: initial;
					}
				}
			}

		/*
			###################
			   //SUPLEMENTOS
			###################
		*/
	}

	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: landscape){
		

	}	

	//Tablet Portrait (Modo retrado)
	@media only screen and(min-width: 768px) and (max-width: 1024px){	
		/*
			####################
			   ORÇAMENTO MENU
			####################

		*/
			.orcamento-menu{
				padding: 100px 0 35px;
				.abas{
					ul{
						li{
							&.active{
								a{
									padding: 15px 10px;
								}
							}
							a{
								padding: 15px 10px;
								.orc-menu--list{
									h1{
										font-size: 21px;
									}
								}
							}
						}
					}
				}
			}
		/*
			####################
			   //ORÇAMENTO MENU
			####################

		*/

		/*

			####################
			       HOME
			####################

		*/
			.cadastreSe{
				&.cadastreSeMob {
					padding: 35px 0;
					.control{
						.form-horizontal{
							padding: 0;
						}	
					}
					
				}
			}

			.videos-destaque{
				.emdestaque{
					.video{
						width: auto !important;
					}
				}
			}

			.user-area{
				.user-area--container{
					.control{
						&.col-lg-5{
							width: 49.98%!important;
						}
					}
				}
			}
		/*

			####################
			     //HOME
			####################

		*/

		/*
			###################
			    SUPLEMENTOS
			###################
		*/

			.suplementos{
				height: initial;
				.suplementos-container{
					.container{
						padding: 0;
					}
					.suplementos-block{
						margin: 0 0 20px 0;
						position: initial;
						top: initial;
					}
				}
			}

		/*
			######################
			   PRODUTO DESCRICAO
			######################
		*/
			.menu-descricao{
				padding: 55px 0 70px;
			}

			.produtos-descricao{
				padding: 0 0 30px;
				.produtos-block{
					height: 390px;
					margin: 0 0 25px 0;
					.produtos-block--img{
						img{
							width: 140px;
							height: auto;
						}
					}
					.produtos-block--title{
						margin: 20px 0 35px;
						h1{
						    width: 100%;
					        text-overflow: ellipsis;
						    overflow: hidden;
						    white-space: nowrap;
    						margin: 0 auto;

						}
					}
					.produtos-block--options{
						display: block;
						.icon-block{
							button{
								img{
									width: 35px;
									height: auto;
								}
							}
						}
					}
				}
			}

		/*
			#######################
			   //PRODUTO DESCRICAO
			#######################
		*/


		/*
			#######################
			 PRODUTOS RELACIONADOS
			#######################
		*/
			.produtos-relacionados{
				.produtos-block{
					height: auto;
					.produtos-block--img {
						img{
							width: 100%;
							height: auto;
						}
					}
					.produtos-block--options{
						display: block;
						.icon-block{
							text-align: right;
							button{
								img{
									width: 35px;
									height: 35px;
								}
							}
						}
					}
					.produtos-block--title{
						h1{
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
					}
				}
			}

		/*
			#######################
			 //PRODUTOS RELACIONADOS
			#######################
		*/

		.menu-sub{
			padding: 55px 0 70px;
		}




	}
	//Tablet Geral LANDSCAPE
	@media only screen and(min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
		.user-area{
			.user-area--container{
				.col-xs-12{
					width: 50%;
				}
				.control{
					.block-form{
						.block-form--text {
							max-width: 120px;
						}
						.block-form--container{
							max-width: 360px;
						}
					}
				}
			}
		}

		.suplementos{
			padding: 30px 0;
			.suplementos-container{
				.col-xs-12{
					width: 33.33333333%;
				}
			}
		}

		.cadastreSe{
			&.cadastreSeMob{
				.control{
					.form-horizontal{
						.form-group{
							label{
								text-align: initial;
							}
							.container{
								padding: 0;
							}
						}
					}
				}
				
			}
		}
		
		.home-services{
			.services-block{
				.control-transparence{
					max-width: 50%;
					.services-block-container{
						.services-block--left{
							&.col-xs-12{
								width: 58.33333333%;
							}
						}
					}
				}
			}
		}
	}	

	@media only screen and(min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
		
	}