/*
/*
######################################
	RESPONSIVE MD
######################################
*/
	//Notebook Geral
	@media only screen and(min-width: 1024px) and (max-width: 1440px){
		
	}
	//Notebook 16'
	@media only screen and(min-width: 1280px) and (max-width: 1440px){
		
	}
	//Notebook 14'
	@media only screen and(min-width: 1024px) and (max-width: 1280px){
	}

	//Notebook Apple'
	@media only screen and(min-width: 800px) and (max-width: 1280px){
		
	}
/*
######################################
	//RESPONSIVE MD
######################################
*/