/*
######################################
	RESPONSIVE XS
######################################
*/

	
	//Mobile Portrait (Modo retrado)
	@media only screen and(min-width: 320px) and (max-width: 414px) and (orientation: portrait){

	}
	//Mobile Portrait (Modo Paisagem)
	@media only screen and(min-width: 490px) and (max-width: 736px) and (orientation: landscape){
	
	}
	//IPHONE 4
	@media only screen and(min-width: 320px) and(max-width: 480px){	
		/*
			###############
			   TOPO PAGES
			###############
		*/
			.menutopo{
				.redessociais{
					margin: 0 0 15px 0;
				}
				.header-pages{
					ul{
						li{
							margin: 0;
						}
					}
				}
			}


		/*
			###############
			  //TOPO PAGES
			###############
		*/


		/*
			###############
			   TOPO HOME
			###############
		*/
			.user-area{
				.user-area--container{
					.linksIntranet{
						ul{
							width: 100%;
							li{
								margin-right: 4px;
								&::last-child{
									margin-right: 0;
								}
							}
						}
					}
					.block-options{
						margin: 0 11px 0 0;
						.block-options--icon{
							i{
								font-size: 14px;
							}
						}
						.block-options--text{
							a{
								font-size: 14px;
							}
						}
					}
					.control{
						&.right{
							float: initial;
						}
						&.col-lg-5{
							display: inline-block;
							width: 100% !important;
						}
						.block-form{
							.block-form--text{
								margin: 0;
								&.left{
									float: initial;
								}
							}
							.block-form--container{
								form{
									.form-field{
										input{
											width: 121px;
										}
									}
								}
							}
						}
					}
				}
			}



		/*
			###############
			  //TOPO HOME
			###############
		*/
		/*
			###################
			  BANNER CAROUSEL
			###################
		*/
			.banner{
				.banner-carousel{
					margin: 0 0 20px 0;
				    .owl-controls{
						.owl-nav{
							.owl-prev{
								top: 30%;
								width: 40px;
								height: 40px;
								left: 10px;
								i{
								    left: 36%;
								    top: 19%;
								    font-size: 23px;
								}
							}
							.owl-next{
								top: 30%;
								width: 40px;
								height: 40px;
								right: 10px;
								i{
								    right: 36%;
								    top: 19%;
								    font-size: 23px;
								}
							}
						}
					}
				}
			}
		/*
			###################
			 //BANNER CAROUSEL
			###################
		*/


		/*
			###################
			    SUPLEMENTOS
			###################
		*/

			.suplementos{
				height: initial;
				.suplementos-container{
					.container{
						padding: 0;
					}
					.suplementos-block{
						margin: 0 0 20px 0;
						position: initial;
						top: initial;
					}
				}
			}

		/*
			###################
			   //SUPLEMENTOS
			###################
		*/


		/*
			###################
			  VIDEOS DESTAQUE
			###################
		*/
			.videos-destaque{
				.tituloHome{
					h2{
						font-size: 24px;
					}
					p{
						font-size: 18px;
					}
					a{
						img{
							width: 40px;
							height: auto;
						}
					}
				}
				.emdestaque{
					.enter-galery{
						a{
							font-size: 17px;
							padding: 11px 13px 10px;
						}
					}
					.emdestaqueCarousel{
						padding: 0 0 10px 0;
						.colVideo{
							&.container{
								padding: 0;
							}
						}
						.owl-controls{
							.owl-dots{
								width: 50%;
							}
						}
					}
				}
			}

		/*
			###################
			 //VIDEOS DESTAQUE
			###################
		*/


		/*
			###################
			   CADASTRE-SE
			###################
		*/
			.cadastreSeMob{
				&.cadastreSe{
					padding: 25px 0 0;
					h2{
						font-size: 24px;
						margin-bottom: 15px;
						line-height: 32px;
					}
					.control{
						margin: 0 0 20px 0;
						&.container{
							padding: 0;
						}
						.form-horizontal{
							padding: 0;
							.form-group{
								.container{
									padding: 0;
								}
								.btn-default{
								    font-size: 17px;
								    float: initial;
								    padding: 5px 30px;
								}
							}
						}
					}
					.control-acesso{
						&.container{
							padding: 0;
						}
					}
				}
			}
		/*
			###################
			   //CADASTRE-SE
			###################
		*/

		/*
			###################
			     SERVIÇOS
			###################
		*/
			.home-services{
				padding: 40px 0;
				.container{
					padding: 0;
				}
				.services-block{
					.control-transparence{
						margin: 0 0 35px 0;
						.services-block-container{
							.services-block--left{
								&.col-xs-6{
									width: 100%;
								}
								.left-content{
									.content-tile{
										h1{
											font-size: 18px;
											span{
												font-size: 27px;
											}
										}
									}
									.content-text{
										p{
											font-size: 14px;
										}
									}
								}
							}
						}
						.services-block--link{
							a{
								padding: 10px 22px 9px;
								font-size: 16px;
							}
						}
					}
				}
			}
		/*
			###################
			    //SERVIÇOS
			###################
		*/


		/*
			###################
			    QUEM SOMOS
			###################
		*/
			.nutricao-animal{
				padding: 35px 0;
				.nutri-block{
					.left{
						float: initial;
					}
					.nutri-block--content{
						margin: 0 0 30px 0;
						&.container{
							padding: 0;
						}
						.nutri-block--title{
							margin: 0 0 20px 0;
							&.container{
								padding: 0;
							}
						}
					}
					.nutri-block--movie{
						&.container{
							padding: 0;
						}
						.nutri-block--movie-title{
							margin: 0 0 20px 0;
							&.container{
								padding: 0;
							}
						}
						.right{
							float: initial;
						}
					}
				}
			}

		/*
			###################
			    QUEM SOMOS
			###################
		*/

		/*
			###################
			  ARTIGOS TECNICOS
			###################
		*/
			.artigos-tecnicos{
				padding: 35px 0;
				.artigos-tecnicos--block{
					.artigos-topico{
						a{
							.topico-icon{
								i{
									font-size: 23px;
								}
							}
							.topico-content{
								padding: 5px 0 0 12px;
								.topico-content--title{
									h1{
										font-size: 16px;
									}
								}
								.topico-content--category{
									p{
										font-size: 14px;
									}
								}
							}
							.topico-icon--down{
								i{
									font-size: 20px; 	
								}
							}
							&:hover{
								.topico-content{
									padding: 5px 0 0 10px;
								}
							}
						}
					}
				}
			}

		/*
			###################
			 //ARTIGOS TECNICOS
			###################
		*/

		/*
			###################
			    CADASTRO PF
			###################
		*/
			.cadastro-pf{
				padding: 35px 0;
				.cadastro-pf--block{
					.block-control{
						&.left{
							float: initial;
						}
						&.container{
							padding: 0;
						}
						.block-title{
							margin: 0 0 25px 0;
							p{
								font-size: 22px;
							}
						}
						.block-dados-pessoais{
							margin: 0 0 30px 0;
							.form-field{
								.user-identity{
									.option{
										margin: 0 0 25px 0;
									}
								}
							}
						}
						.block-dados-contato{
							margin: 0 0 30px 0;
						}
					}
					.btn-confirmar{
						button{
							padding: 20px 12px 18px;
							font-size: 20px;
						}
						img{
							width: 45px;
							height: auto;
						}
					}
				}
			}


		/*
			###################
			   //CADASTRO PF
			###################
		*/

		/*
			###################
			   CADASTRO OK
			###################
		*/
			.cadastroOk{
				.cadastroOk-block{
					padding: 35px 0;
					.cadastroOk-block--title{
						p{
							line-height: normal;
							font-size: 25px;
						}
					}
					.cadastroOk-block--content{
						p{
							font-size: 14px;
						}
					}
					.cadastroOk-block--img{
						img{
							width: 120px;
						}
					}
				}
			}


		/*
			###################
			  //CADASTRO OK
			###################
		*/

		/*
			#######################
			  CONFIRMAÇÃO NO EMAIL
			#######################
		*/
			.email-confirmacao{
				padding: 35px 0;
				.confirmacao-block{
					.confirmacao-title{
						h1{
							font-size: 25px;
						}
					}
					.confirmacao-content{
						p{
							font-size: 22px;
						}
					}
					.confirmacao-img{
						margin: 25px 0 35px 0;
						img{
							width: 120px;
						}
					}
					.confirmacao-emails{
						.email-block{
							margin: 0 7px 20px;
							.email-block--img--yahoo{
								a{
									img{
										width: 90px;
									}
								}
							}
							.email-block--img--gmail{
								a{
									img{
										width: 81px;
									}
								}
							}
							.email-block--img--hotmail{
								a{
									img{
										width: 85px;
									}
								}
							}
							.email-block--img--uol{
								a{
									img{
										width: 102px;
									}
								}
							}
						}
					}
				}
			}

		/*
			#######################
			 //CONFIRMAÇÃO NO EMAIL
			#######################
		*/


		/*
			#######################
			   DESEMPENHO MAXIMO
			#######################
		*/
			.desempenho-maximo{
				padding: 35px 0;
				.desempenho-block{
					.desempenho-block--img{
						img{
							width: 220px;
							height: auto;
						}
					}
					.desempenho-block--text{
						margin: 0;
						p{
							font-size: 14px;
							line-height: 25px;
						}
						.desempenho-link{
							a{
								font-size: 16px;
								padding: 9px 5px;
							}
						}
					}
					.atividades{
						.atividades-block{
							.atividades-block--title{
								h1{
									font-size: 26px;
								}
							}
							.atividades-block--content{
								p{
									font-size: 18px;
								}
							}
						}
					}
					.programas{
						.col-xs-12{
							width: 100% !important;
						}
						.left{
							float: initial;
						}
					}
				}
			}

		/*
			#######################
			  //DESEMPENHO MAXIMO
			#######################
		*/

		/*
			###########################
			  DESEMPENHO MAXIMO PAGES
			###########################
		*/
			.desempenho-header{
				padding: 25px 0;
				.desempenho-header--container{
					.container-block{
						&.left{
							float: initial;
						}
						img{
							width: 125px;
							height: auto;
						}
					}
					.container-block--text{
						padding: 15px 0 0 0;
						&.left{
							float: initial;
						}
					}
					.container-block--img{
						padding: 25px 0 0 0;
						&.left{
							float: initial;
						}
						img{
							width: 165px;
							height: auto;
						}
					}
					.container-block--icon{
						a{
							img{
								width: 40px;
								height: auto;
							}
						}
					}
				}
				/*
					#########################
					  DESEMPENHO NAV LIST
					#########################
				*/
					.desempenho-list{
						margin: 40px 0 55px;
						ul{
							li{
								a{
									.desempenho-list--block{
										.block-item{
											p{
												line-height: 28px;
												font-size: 18px;
											}
										}
										.block-item--icon{
											i{
												font-size: 32px;
											}
										}
									}
								}
							}
						}
					}
				/*
					#########################
					 //DESEMPENHO NAV LIST
					#########################
				*/
			}

		/*
			###########################
			 //DESEMPENHO MAXIMO PAGES
			###########################
		*/

		/*
			###################################
			  DESEMPENHO MAXIMO PAGES GRAFICO
			###################################
		*/
			.desempenho-grafico{
				padding: 0;
				.desempenho-grafico--container{
					.grafico-block--text{
						margin: 0;
					}
					.grafico-block--container{
						margin: 30px 0 0 0;
						text-align: center;
						.block-title{
							margin: 0 0 22px 0;
						}
						.block-content{
							margin: 0 0 30px;
							.block-content--text{
								padding: 20px 0 0 0;
							}
						}
					}
				}
			}

		/*
			###################################
			 //DESEMPENHO MAXIMO PAGES GRAFICO
			###################################
		*/


		/*
			###################################
			  DESEMPENHO MAXIMO PAGES PRODUTOS
			###################################
		*/
			.desempenho-produtos{
				.desempenho-produtos--container{
					.container{
						padding: 0;
					}
					.produtos-block{
						text-align: center;
						.produtos-block--container{
							.produtos-title{
								margin: 0 0 20px 0;
							}
							.produtos-content{
								margin: 0 0 45px 0;
							}
						}
					}
					.produtos-link--bottom{
						margin: 35px 0 0 0;
						a{
							font-size: 18px;
							padding: 18px 15px;
						}
					}
				}
			}

		/*
			###################################
			 //DESEMPENHO MAXIMO PAGES PRODUTOS
			###################################
		*/

		/*
			###################################
			  DESEMPENHO MAXIMO PAGES ENTENDA
			###################################
		*/
			.desempenho-entenda{
				padding: 0 0 40px 0;
				.desempenho-entenda--content{
					margin: 0 0 40px 0;
				}
				.desempenho-entenda--link{
					a{
						font-size: 18px;
						padding: 18px 16px;
					}
				}
			}
		/*
			###################################
			 //DESEMPENHO MAXIMO PAGES ENTENDA
			###################################
		*/



		/*
			#######################
				MENU DESCRIÇÃO
			#######################
		*/

			.menu-descricao{
				padding: 35px 0 70px;
				.menu-descricao--container {
					.nav{
						&.nav-tabs {
							li {
							    padding: 8px 0;
    							border-bottom: 1px solid #ccc;
								a{
									padding: 0;
									text-transform: uppercase;
								    font-weight: 700;
								    color: #00468C;
								    font-size: 16px;
									font-family: 'leelawadee';
									width: initial;
									min-height: initial;
									.control{
										margin: 0;
									}
								}
								.icon-b1-block
								{
									&::before{
										width: 0;
										height: 0;
										margin: initial;
									}
								}
								.icon-b2-block
								{
									&::before{
										width: 0;
										height: 0;
										margin: initial;
									}
								}
								.icon-b3-block
								{
									&::before{
										width: 0;
										height: 0;
										margin: initial;
									}
								}
								.icon-b4-block
								{
									&::before{
										width: 0;
										height: 0;
										margin: initial;
									}
								}
								.icon-b5-block
								{
									&::before{
										width: 0;
										height: 0;
										margin: initial;
									}
								}
								.icon-b6-block
								{
									&::before{
										width: 0;
										height: 0;
										margin: initial;
									}
								}
								.icon-b7-block
								{
									&::before{
										width: 0;
										height: 0;
										margin: initial;
									}
								}
							}
						}
					}
				}
			}


		/*
			#######################
			   //MENU DESCRIÇÃO
			#######################
		*/
		/*
			################
			   MENU SUB
			################
		*/
			.menu-sub{
				.menu-sub--container{
					&.sub{
						ul{
							li{
								padding: 8px 0;
    							border-bottom: 1px solid #ccc;
								display: block;
								a{
									padding: 0;
									text-transform: uppercase;
								    font-weight: 700;
								    color: #00468C;
								    font-size: 16px;
									font-family: 'leelawadee';
									width: initial;
									min-height: initial;
								}
							}
						}
					}
				}
			}
		/*
			################
			  //MENU SUB
			################
		*/

		/*
			#######################
			   PRODUTOS DESCRIÇÃO
			#######################
		*/
			.produtos-descricao{
				padding: 0 0 35px;
				.control{
					&.container{
						padding: 0;
					}
				}
				.produtos-block{
					height: auto;
					.produtos-block--options{
						display: block;
					}
					.produtos-block--img{
						img{
							width: 180px;
							height: auto;
						}
					}
				}
			}
		/*
			#######################
			  //PRODUTOS DESCRIÇÃO
			#######################
		*/

		/*
			#######################
			  DESCRIÇÃO CRIA MENU
			#######################
		*/
			.menu-sub{
				padding: 35px 0;
				.menu-sub--container{
					.nav{
						&.nav-tabs{
							margin: 0;
							padding: 0;
							li{
								display: block;
								padding: 8px 0;
								border-bottom: 1px solid #ccc;
								a{
									width: initial;
									padding: 0;
									height: initial;
									font-weight: bold;
									color: #00468C;
									font-size: 16px;
									text-transform: uppercase;
								}
								&.prot{
									a{
										padding: 0;
									}
								}
							}
						}
					}
				}
			}
		/*
			#######################
			 //DESCRIÇÃO CRIA MENU
			#######################
		*/


		/*
			#######################
			 PRODUTOS RELACIONADOS
			#######################
		*/
			.produtos-relacionados{
				.relacionados-container{
					margin: 0 0 20px 0;
					&.container{
						padding: 0;
					}
				}
			}

		/*
			#######################
			 //PRODUTOS RELACIONADOS
			#######################
		*/


		/*
			#######################
			 	MODAL COMPARAR
			#######################
		*/
			.modalCompararBlock{
				.modal-container{
					.modalComparar{
						.comparar-block{
							.comparar-block--title{
								margin: 0 0 5px 0;
								h1{
									font-size: 20px;
								}
							}
							.comparar-block--search{
								margin: 0 0 20px 0;
								input{
									padding: 12px 0 10px 10px;
								}
							}
							.comparar-container{
								.container-img1{
									img{
										width: 75px;
									}
								}
								.container-img2{
									img{
										width: 75px;
									}
								}
								.container-icon {
									padding: 50px 0;
								}
								.container-title{
									p{
										line-height: 20px;
										font-size: 14px;
									}
								}
								.comparar-button{
									margin: 18px;
									button{
										font-size: 16px;
										padding: 13px 18px 12px;
									}
								}
							}
						}	
					}
				}
			}

		/*
			#######################
			   //MODAL COMPARAR
			#######################
		*/

		/*
			#######################
			   DESCRIÇÃO PRODUTO
			#######################
		*/
			.descricao-produto{
				padding: 55px 0 80px;
				.descricao-container{
					.especificacoes-container{
						.informacoes-container{
							margin: 35px 0 0 0;
							.info-content{
								&.container{
									padding: 0;
								}
							}
						}
					}
				}
			}

		/*
			#######################
			  //DESCRIÇÃO PRODUTO
			#######################
		*/

		/*
			#######################
			      ABAS NAV
			#######################
		*/
			.clientes{
				.emdestaque{
					.colVideo {
						max-width: 320px;
						.video{
							width: auto !important;
						}
					}
				}
			}

		/*
			#######################
			     //ABAS NAV
			#######################
		*/

		/*
			#######################
			      INFO MENU
			#######################
		*/
			.info-menu{
				.container{
					padding: 0;
				}
				ul{
					li{
						&.active{
							a{
								padding: 20px 70px 20px;
							}
						}
						a{
							display: block;
							padding: 20px 70px 20px;
						}
					}
				}
			}
		/*
			#######################
			      INFO MENU
			#######################
		*/


		/*
			#########################
			  PRODUTOS CARRINHO MENU
			#########################
		*/
			.orcamento-menu{
				padding: 50px 0;
				.abas{
					ul{
						li{
							&.active{
								a{
									display: inline-block;
								}
							}
							a{
								.orc-menu--list{
									h1{
										font-size: 20px;
									}
									.etapas{
										display: none;
									}
								}
							}
						}
					}
				}
			}


		/*
			#########################
			 //PRODUTOS CARRINHO MENU
			#########################
		*/

		/*
			#########################
			  PRODUTOS CARRINHO LIST
			#########################
		*/
			.produtos-list{
				.list{
					.carrinho-list--title{
						p{
							font-size: 18px;
						}
					}
					.carrinho-list--container{
						margin: 0 0 25px 0;
						.list-img{
							margin: 0;
							text-align: center;
							img{
								width: 90px;
								height: auto;
							}
							&.left{
								float: initial;
							}
						}
						.list-container{
							.list-block{
								.list-title{
									h1{
										font-size: 20px;
									}
								}
								.list-kg{
									p{
										font-size: 18px;
									}
								}
								margin: 0 0 40px 0;
								&.left{
									float: initial;
									text-align: center;
								}
							}
							.list-qtd{
								p{
									font-size: 18px;
								}
							}
							.list-qtd--count{
								.input-group{
									&.spinner{
										width: initial;
									}
									input{
										width: 40px;
									}
									.btn-top{
										top: -40px;
										i{
											font-size: 42px;
										}
										&.btn{
											padding: 0px 10px;
										}
									}
									.btn-bottom{
										i{
											font-size: 42px;
										}
										bottom: -36px;
										&.btn{
											padding: 0px 10px;
										}
									}
								}
							}
						}
					}
				}
				.carrinho-options--buttons{
					.button-inserir{
						margin: 0 0 20px 0;
						&.left{
							text-align: center;
							float: initial;
						}
						button{
							padding: 17px 15px;
							font-size: 18px;
						}
					}
					.button-avancar{
						&.left{
							float: initial;
							text-align: center;
						}
						button{
							padding: 17px 15px;
							font-size: 18px;
						}
						img{
							width: 45px; 
							height: auto;
						}
					}
				}
			}

		/*
			#########################
			 //PRODUTOS CARRINHO LIST
			#########################
		*/

		/*
			#########################
			  INFORMAÇÕES CLIENTE
			#########################
		*/	
			.informacoes-list{
				margin: 20px 0 80px 0;
				.form-left{
					margin: 0 0 30px 0;
					.form-left--title{
						p{
							font-size: 18px;
						}
					}
					form{
						.form-left--container{
							p{
								font-size: 16px;
							}
						}
						.form-left--button{
							button{
								font-size: 20px;
								padding: 14px 30px 12px;
							}
							img{
								width: 50px;
								height: auto;
							}
						}
					}
				}
				.form-right{
					margin: 0 0 40px 0;
					.form-left--title{
						p{
							font-size: 18px;
						}
					}
					form{
						.form-right--container{
							p{
								font-size: 16px;
							}
						}
						.form-right--button{
							button{
								font-size: 20px;
								padding: 14px 30px 12px;
							}
							img{
								width: 38px;
								height: auto;
							}
						}
					}
				}

				.informacoes-cadastro{
					.cadastro-pf--block{
						.block-control{
							&.left{
								float: initial;
							}
							&.container{
								padding: 0;
							}
							.block-title{
								p{
									font-size: 20px;
								}
							}
							.block-dados-pessoais{
								form{
									.form-field{
										.radio{
										    width: 17px;
    										height: 20px;
										}
									}
								}
							}
						}
						.btn-confirmar{
							.return{
								margin: 0 0 20px 0;
								img{
									width: 40px;
									height: auto;
								}
								button{
									font-size: 18px;
									padding: 16px 35px 14px;
								}
							}
							.avancar{
								img{
									width: 40px;
									height: auto;
								}
								button{
									font-size: 18px;
									padding: 16px 35px 14px;
								}
							}
						}
					}
				}
			}
		/*
			#########################
			  //INFORMAÇÕES CLIENTE
			#########################
		*/

		/*
			#########################
			     CONFIRMAR DADOS
			#########################
		*/
			.conformar-list{
				padding: 0 0 40px 0;
				.confirmar-list--container{
					.confirmar-title{
						p{
							font-size: 19px;
						}
						.confirmar-container{
							.container-name{
								p{
									font-size: 16px;
								}
							}
							.container-email{
								p{
									font-size: 16px;
								}
							}
							.container-end{
								p{
									font-size: 16px;
								}
							}
							.container-city{
								p{
									font-size: 16px;
								}
							}
							.container-phone{
								p{
									font-size: 16px;
								}
							}
						}
					}
					.confirmar-text{
						p{
							font-size: 16px;
							a{
								font-size: 16px;
							}
						}
					}
					.confimar-buttons{
						.return{
							margin: 0 0 20px 0;
							img{
								width: 40px;
								height: auto;
							}
							button{
								font-size: 18px;
								padding: 16px 35px 14px;
							}
						}
						.avancar{
							img{
								width: 40px;
								height: auto;
							}
							button{
								font-size: 18px;
								padding: 16px 35px 14px;
							}
						}
					}
				}
			}

		/*
			#########################
			    //CONFIRMAR DADOS
			#########################
		*/

		/*
			#########################
			    FINALIZAR PEDIDO
			#########################
		*/
			.finalizar-list{
				margin: 0 0 20px 0;
				.finalizar-list--container{
					.finalizar-status{
						margin: 0 0 25px 0;
						p{
							font-size: 18px;
						}
					}
					.finalizar-status--text{
						p{
							font-size: 16px;
						}
					}
					.finalizar-status--info{
						p{
							font-size: 16px;
						}
					}
					.finalizar-status--block{
						margin: 40px 0 0 0;
						img{
							width: 120px;
							height: auto;
						}
						.block-text{
							p{
								font-size: 16px;
							}
						}
					}
				}
				.finalizar-list--produtos{
					.list-container{
						.list-container--block{
							.list-container--img{
								img{
									width: 75px;
									height: auto;
								}
							}
							.list-container--qtd{
								p{
									font-size: 22px;
									line-height: 100px;
								}
							}
							.list-container--block{
								text-align: center;
								.block-name{
									h1{
										font-size: 20px;
									}
								}
								.block-resume{
									h2{
										font-size: 18px;
									}
								}
							}
						}
					}
					.finalizar-list--button{
						img{
							width: 45px;
						}
						button{
							padding: 14px 30px 12px;
							font-size: 20px;
						}
					}
				}
			}
		/*
			#########################
			   //FINALIZAR PEDIDO
			#########################
		*/


		/*
			#######################
			   PAGE IMPRESSÃO
			#######################
		*/
			.page-impressao{
				.header{
					.header-logo{
						img{
							width: 165px;
						}
					}
				}
				.section{
					.section-container{
						margin: 40px 0 0;
						.pedido-status{
							margin: 0 0 15px 0;
							p{
								font-size: 20px;
							}
						}
						.pedido-info{
							p{
								font-size: 16px;
							}
						}
						.pedidos-list--imp{
							margin: 0 0 60px 0;
							.finalizar-list--produtos{
								.list-container{
									.list-container--block{
										.list-container--img{
											img{
												width: 75px;
												height: auto;
											}
										}
										.list-container--qtd{
											p{
												font-size: 20px;
											}
										}
										.list-container--block{
											padding: 10px 0;
											text-align: center;
											.block-name{
												p{
													font-size: 19px;
												}
											}
											.block-resume{
												p{
													font-size: 16px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.footer{
					.footer-title{
						p{
							font-size: 19px;
						}
					}
					.unidades-list{
						.list-container{
							margin: 0;
							&.container{
								padding: 0;
							}
						}
					}
				}
			}
		/*
			#######################
			   //PAGE IMPRESSÃO
			#######################
		*/

		/*
			#######################
			   PAGE COMPARATIVO
			#######################
		*/
			.page-comparativo{
				margin: 30px 0 40px;
				.comparativo-container{
					&.container{
						padding: 0
					}
					.comparativo-block{
						.block-title{
							h1{
								font-size: 22px;
							}	
						}
						.block-img{
							margin: 0 0 30px 0;
							img{
								width: 130px;
								height: auto;
							}
						}
						.indicacao-block{
							.indicacao-block--title{
								p{
									font-size: 18px;
								}
							}
							.indicacao-block--text{
								p{
									font-size: 14px;
								}
							}
						}
						.modo-usar-block{
							.modo-usar-block--title{
								p{
									font-size: 18px;
								}
							}
							.modo-usar-block--text{
								p{
									font-size: 14px;
								}
							}
						}
					}
				}
				.informacoes-block{
					margin: 0 0 60px 0;
					&.container{
						padding: 0;
					}
					.informacoes-block--title{
						p{
							font-size: 16px;
						}
					}
					.informacoes-block--img{
						img{
							width: 45px;
							height: auto;
						}
					}
				}
				.consumo-estimado{
					.consumo-estimado--title{
						margin: 0 0 5px 0;
						p{
							font-size: 18px;
						}
					}
					.consumo-estimado--text{
						p{
							font-size: 16px;
						}
					}
				}
				.table-niveis{
					.table-container{
						margin: 60px 0 28px;
						p{
							font-size: 18px;
						}
					}
				}
			}

		/*
			#######################
			  //PAGE COMPARATIVO
			#######################
		*/

		/*
			#######################
			   RESULTADO BUSCAS
			#######################
		*/
			.resultado-buscas{
				padding: 40px 0 80px;
				.resultado-container{
					.resultado-title{
						p{
							font-size: 20px;
						}
					}
					.resultado-assunto{
						margin: 0 0 35px 0;
						p{
							font-size: 18px;
						}
					}
					.resultado-container--block{
						height: initial;
						&.artigos{
							height: initial;
						}
						.block-title{
							p{
								font-size: 20px;
							}
						}
						.block-produtos--align{
							padding: 0 10px;
							margin: 30px 0;
						}
					}
				}
			}

		/*
			#######################
			  //RESULTADO BUSCAS
			#######################
		*/


		/*
			#####################
			   PDM LOGIN HEADER
			#####################
		*/
			.pdm-login{
				padding: 15px 0 14px;
				.pdm-login--container{
					.pdm-login--user{
						h1{
							font-size: 26px;
						}
					}
					.pdm-login--content{
						h2{
							font-size: 18px;
						}
					}
				}
			}

		/*
			#####################
			  //PDM LOGIN HEADER
			#####################
		*/


		/*
			###################
			  	PDM INICIAL
			###################
		*/
			.pdm-inicial{
				padding: 55px 0 0;
				.pdm-inicial--container{
					.pdm-programa--container{
						.programa-img{
							img{
								width: 110px;
								height: auto;
							}
						}
						.programa-content{
							padding: 5px 0;
							p{
								margin: 0;
								span{
									&:first-child{
										line-height: 20px;
										font-size: 17px;
									}
									&:nth-child(2){
										line-height: 24px;
										font-size: 20px;
									}
									&:nth-child(3){
										font-size: 26px;
										line-height: 27px;
									}
									&:nth-child(4){
										line-height: 27px;
										font-size: 28px;
									}
								}
							}
						}
						.pdm-inicial--text{
							p{
								font-size: 18px;
							}
						}
						.pdm-inicial--link{
							a{
								padding: 22px 18px;
								font-size: 18px;
							}
						}
					}
				}
			}
		/*
			###################
			  //PDM INICIAL
			###################
		*/


		/*
			#############################
			  MODAL CADASTRO PROPRIEDADE
			#############################
		*/
			.modalCadProp{
				.modal-container {
					.modalCadastro{
						.cadastro-block{
							.cadastro-container{
								margin: 0;
								.cadastro-container--form{
									form{
										label{
											margin: 10px 0 5px;
											font-size: 20px;
										}
										input{
											padding: 12px 0 10px;
										}
										button{
											margin: 28px 0 15px;
											font-size: 20px;
											padding: 13px 30px 8px;
										}
									}
								}
							}
						}
					}
				}
			}

		/*
			#############################
			 //MODAL CADASTRO PROPRIEDADE
			#############################
		*/

		/*
			########################
			   FAZENDAS CADASTRADAS
			########################
		*/
			.pdm-inicial{
				.pdm-inicial--container{
					.pdm-programa--container{
						.fazendas-cadastradas{
							.container{
								padding: 0;
							}
							.fazendas-cadastradas--container{
								margin: 0 0 40px 0;
								.fazendas-cadastradas--block{
									padding: 30px;
									.fazenda-name{
										h1{
											font-size: 26px;
										}
									}
									.fazenda-local{
										p{
											font-size: 20px;
										}
									}
								}
							}
						}
					}
				}
			}
		/*
			########################
			  //FAZENDAS CADASTRADAS
			########################
		*/

		/*
			###############
			  PDM LOTES
			###############
		*/
			.pdm-inicial{
				padding: 0 0 30px 0;
				.pdm-inicial--container{
					.pdm-programa--container{
						.lotes{
							.programa-img{
								img{
									width: 110px;
									height: auto;
								}
							}
							.programa-content{
								padding: 5px 0;
								p{
									margin: 0;
									span{
										&:first-child{
											line-height: 20px;
											font-size: 17px;
										}
										&:nth-child(2){
											line-height: 24px;
											font-size: 20px;
										}
										&:nth-child(3){
											font-size: 26px;
											line-height: 27px;
										}
										&:nth-child(4){
											line-height: 27px;
											font-size: 28px;
										}
									}
								}
							}
							.lote-selected{
								.lote-selected--container{
									.fazenda-name {
										h1{
											font-size: 26px;
										}
									}
									.fazenda-local{
										h2{
											font-size: 20px;
											line-height: 30px;
										}
									}
									.inserir-lote{
										a{
											font-size: 20px;
											padding: 16px 51px 14px;
										}
									}
								}
							}
							&.lotes-cadastrados{
								.lotes-cadastrados--container{
									margin: 45px 0 0 0;
									.lotes-block{
										.lotes-block--title{
											padding: 15px 0;
											h1{
												font-size: 22px;
											}
										}
										.lotes-block--container{
											padding: 17px 0 15px;
											.block-text {
												p{
													font-size: 16px;
												}
											}
											.block-begin{
												p{
													font-size: 14px;
												}
											}
										}
									}
									.lotes-block--options{
										padding: 25px 0;
										.block-link {
											a{
												padding: 15px 30px 13px;
												font-size: 20px;
											}
										}
									}
								}
								.pdm-section-escolha{
									margin: 20px 0 0 0;
								}
							}
						}
					}
					.pdm-escolha--produto{
						.pdm-escolha--container{
							.block-title{
								p{
									font-size: 20px;
								}
							}
							.block-container{
								.block-container--troca{
								    margin: 35px 0 14px;
									padding: 0 10px;
									.troca-text{
										p{
											font-size: 18px;
											line-height: 17px;
										}
									}
									.button-troca{
										margin: 45px 0 0 0;
										button{
											font-size: 20px;
										}
									}
								}
								.block-container--produto{
								    margin: 25px 0 24px;
    								padding: 0 10px;
									.produto-img {
										img{
											width: 95px;
											height: auto;
										}
									}
									.produto-text{
										p{
											margin: 10px 0 0;
											font-size: 18px;
										}
									}
									.produto-button{
										button{
											font-size: 20px;
											padding: 13px 14px;
										}
									}
								}
							}
						}
					}
					.produto-escolhido{
						.container{
							padding: 0;
						}
						.produto-atual{
							height: initial;
							margin: 0 0 30px 0;
							.produto-atual--title{
								h1{
									font-size: 20px;
								}
							}
							.produto-atual--img{
								img{
									width: 95px;
									height: auto;
								}
							}
							.produto-atual--text{
								p{
									font-size: 18px;
								}
							}
							.produto-atual--link{
								margin: 10px 0 30px;
								a{
									font-size: 18px;
								}
							}
						}
						.novo-produto{
							height: initial;
							.novo-produto--title{
								h1{
									font-size: 20px;
								}
							}
							.novo-produto--text{
								margin: 31px 0 3px;
								p{
									font-size: 18px;
									line-height: 17px;
								}
							}
							.novo-produto--input{
								padding: 0 10px;
							}
							.novo-produto--link{
								margin: 45px 0 16px;
								a{
									padding: 13px 42px 11px;
									font-size: 20px;
								}
							}
						}
						.produto-escolhido--grafico{
							img{
								width: 100%;
							}
						}
					}
				}
			}
		/*
			###############
			  //PDM LOTES
			###############
		*/


		/*
			########################
			  MODAL CADASTRO LOTES
			########################
		*/
			.modalCadLotes{
				.modal-container{
					.modalCadastroLotes{
						.cadastro-block{
							.cadastro-block--title{
								padding: 9px 0;
								p{
									font-size: 16px;
								}
							}
							.cadastro-container{
								margin: 10px 0 0 0 !important;
								.cadastro-container--form{
									form{
										.control{
											label{
												margin: 0 9px 0 0;
												padding: 7px 0 0;
												font-size: 16px;
											}
											input{
												height: 38px;
											}
										}
										button{
											margin: 15px 0 35px 0;
										}
									}
								}
							}
						}
					}
				}
			}

		/*
			########################
			 //MODAL CADASTRO LOTES
			########################
		*/


		/*
			########################
			  MODAL TROCA PRODUTOS
			########################
		*/
			.modalTrocaProd{
				.modal-container{
					&.open{
						.modalTrocaProduto{
							.troca-block {
								.troca-block--title{
									padding: 10px 0;
									p{
										font-size: 18px;
									}
								}
								.troca-container{
									.troca-container--form{
										padding: 25px 0 30px;
										form{
											.control{
												label{
													font-size: 16px;
												}
												textarea{
													height: 100px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		/*
			########################
			  //MODAL TROCA PRODUTOS
			########################
		*/

		/*
			########################
			 PDM CADASTRO FAZENDAS
			########################
		*/
			.cadastro-fazendas{
				.cadastro-container{
					margin: 50px 0 20px 0;
					.cadastro-block{
						form{
							.form-container{
								margin: 0 0 20px 0;
								label{
									font-size: 20px;
								}
								input{
									height: 40px;
								}
								&.button{
									button{
										font-size: 20px;
										padding: 14px 41px 12px;
									}
								}
							}
						}
					}
				}
			}

		/*
			########################
			 //PDM CADASTRO FAZENDAS
			########################
		*/



	}
	
	//IPHONE 4 LANDSCAPE
	@media only screen and(max-width: 480px) and (orientation : landscape){
		
	}
	

